<div style="max-width:550px;border:1px solid #6c757d;border-radius:15px;padding:20px;margin-top:30px;margin: 0 auto"><h1>Log In</h1><br>
<%= form_with url:sign_in_path, local: true do |form| %>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "examplename@gmail.com" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %><br>
        <%= link_to "Forgot your password?", password_reset_path %>
    </div>
    <div class="mb-3" style ="text-align:center">
        <%= form.submit "Log In", class: "btn btn-primary"%>
    </div>
<% end %>
</div>