<div class="d-flex align-items-center justify-content-center">
    <h1 style="font-family:Oswald">Welcome to my rails Blog application</h1>
</div><br>
<h2>Articles</h2>

Our blog has <%= Article.public_count %> public articles and counting!

<ol class="list-group list-group-numbered" style="margin: 20px 0px;width:50%">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= link_to article.title, article %></div><%= truncate(article.body, length: 44) %>
          <%= link_to "Read more", article %>
        </div>
        <span class="badge text-bg-primary rounded-pill">14</span>
    </li>
    <% end %>
  <% end %>
</ol>

<%= link_to "New Article", new_article_path ,class:"btn btn-primary" %>
